{{extend 'layout.html'}}

<script>
$(document).ready(function() {
    $("#sharedRaids").dataTable( {
        "paging":  false,
        "info":    false,
        "order":   [[2, "desc" ]],
    } );
} );
</script>

<script>
$(function() {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{{if len(rows):}}
<h4>Found {{=len(rows)}} active shared raids for the {{=get_platform_server_name(rows[0].platform, rows[0].serverid)}} Server.</h4>

<h6>Shared Raid Information is updated every 10 minutes. This utility shows all active raids ordered by Create Date ( UTC Time ) Descending since last scan ( max 500 ).</h6>
<h6>Clicking on Table Headers will change the sort order. Typing text in the Search field will filter results. Click the Raid Name to Join.</h6>

{{if rows[0].platform == 'newgrounds':}}

<h6 class="bg-warning">Known issues with Newgrounds: Clicking the Join link just seems to restart the game *AND* the raid is *NOT* joined!</br>
Workaround: Please copy the short Raid link from the Difficulty column and paste it in the upper-right hand of the raid overview window to join.</h6>
{{pass}}

<div class="table">
<table id="sharedRaids" class="display table table-borderd">
  <thead>
    <tr>
      <th>Shared Raid Boss</th>
      <th>Difficulty</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Health</th>
      <th>Members</th>
      <th>Team Max</th>
      <th>Magics</th>
    </tr>
  </thead>
  <tbody>
    {{for row in rows:}}
    <tr>
      <td><a href="{{=gen_dotd_raid_url(row.link_name, row.raid_id, row.difficulty, row.raid_boss, row.raid_hash, row.platform, row.serverid)}}" target="_blank" data-toggle="tooltip" title="Click to Join the DoTD {{=get_platform_server_name(row.platform, row.serverid)}} Shared Raid">{{=row.raid_boss_human}}</td>
      <td><a href="{{=gen_short_raid_link(row.raid_id, row.raid_hash)}}" target="_blank" data-toggle="tooltip" title="Right Click Copy for Short Raid Paste Code">{{=difficultize(row.difficulty)}}</a></td>
      <td>{{=row.create_time.strftime('%m/%d %H:%M:%S')}}</td>
      <td>{{=row.update_time.strftime('%m/%d %H:%M:%S')}}</td>
      <td>{{=percentage(row.currenthealth, row.maxhealth)}} %</td>
      <td>{{=row.nummembers}}</td>
      <td>{{=row.maxattackers}}</td>
      <td>{{=XML(gen_magics_url(row, magics_map))}}</td>
    </tr>
    {{pass}}
  </tbody>
</table>
</div>
{{else:}}
<p>No active raids found, please check back later. System is updated every 15-20 minutes...</p>
{{pass}}

