{{extend 'layout.html'}}

<script>
$(document).ready(function() {
    $("#sharedRaids").dataTable( {
        "paging":  false,
        "info":    false,
        "order":   [[2, "desc" ]],
    } );
} );
</script>

<script>
$(function() {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{{if len(rows):}}
<h4>Found {{=len(rows)}} active shared raids for the Facebook "Solus" Server.</h4>

<h6>Shared Raid Information is updated every 10 minutes. This utility shows all active raids ordered by Create Date (UTC) Descending since last scan ( max 500 ).</h6>
<h6>Clicking on Table Headers will change the sort order. Typing text in the Search field will filter results. Click the Raid Name to Join.</h6>

<div class="table">
<table id="sharedRaids" class="display table table-borderd">
  <thead>
    <tr>
      <th>Shared Raid Boss</th>
      <th>Difficulty</th>
      <th>Created (MM/DD)</th>
      <th>Updated (MM/DD)</th>
      <th>Health</th>
      <th># Members</th>
      <th>Magics</th>
    </tr>
  </thead>
  <tbody>
    {{for row in rows:}}
    <tr>
      <td><a href="{{=gen_facebook_dotd_raid_url(row.link_name, row.raid_id, row.difficulty, row.raid_boss, row.raid_hash, row.serverid)}}" target="_blank" data-toggle="tooltip" title="Click to Join Shared Facebook Raid">{{=row.raid_boss}}</td>
      <td>{{=difficultize(row.difficulty)}}</td>
      <td>{{=row.create_time.strftime('%m/%d %H:%M:%S')}}</td>
      <td>{{=row.update_time.strftime('%m/%d %H:%M:%S')}}</td>
      <td>{{=percentage(row.currenthealth, row.maxhealth)}} %</td>
      <td>{{=row.nummembers}} / {{=row.maxattackers}}</td>
      <td>{{=XML(gen_magics_url(row, magics_map))}}</td>
    </tr>
    {{pass}}
  </tbody>
</table>
</div>
{{else:}}
<p>No active raids found, please check back later. System is updated every 15-20 minures...</p>
{{pass}}

