# /etc/cron.d/dotd-parser
#
# DOTD_HOME = /content/${FQDN}/web2py/application/dotd_parser
#
# Update Items Every Two Hours
#

00   */2 * * * www-data /${DOTD_HOME}/sbin/dotd-parser-update-items.sh

#
# Grab shared raids every minute
#

*    *   * * * www-data /${DOTD_HOME}/sbin/dotd-parser-get-shared-raids.sh

#
# Grab shared raid details every ten minutes and retire expired raids
#

*/10 *   * * * www-data /${DOTD_HOME}/sbin/dotd-parser-update-shared-raids-dotd.sh
*/10 *   * * * www-data /${DOTD_HOME}/sbon/dotd-parser-update-shared-raids-lots.sh
